@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Lobster, sans-serif;
    letter-spacing: .1rem;
}
html{
    font-size: 10px;
}
.containerr{
    display: flex;
    min-height: 100vh;
}
    /* Navbar  */
    .largenavv{
        display: flex;
        overflow: hidden;
        position: absolute;
        z-index: 5;
    }
        .largenavv .logo{
        margin: 10px 60px 0px 50px;
    }
        .largenavv .logo img{
        height: 80px;
    }
        .largenavv .list ul{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-left: 100px;
    }
        .largenavv .list ul li a{
        font-size: 3rem;
        padding: 2rem;
        color: white;
        letter-spacing: .1rem;
    }
        .largenavv .search img{
        height: 30px;
        margin-top: 28px;
        margin-left: 100px;
    }
        .largenavv .cart img{
        height: 30px;
        margin-top: 28px;
        margin-left: 18px;
    }
    /* End Navbar*/
.section-title{
    display: flex;
    justify-content: center;
    padding: 50px 0 20px 0;
    margin-bottom: 20px;
}
.section-title h1{
    font-size: 4rem;
    font-weight: 400;
}
.section-title span{
    color: crimson;
}
/* Home section */
#home .home{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}
#home .home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/photo-1.jpg);
    background-size: cover;
    background-position: left center;
    z-index: -1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#home .home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: -1;
    opacity: .4;
}
#home .home h2{
    font-size: 4rem;
    color: white;
}
#home .home p{
    font-size: 2rem;
    letter-spacing: .2rem;
    color: white;
}
#home #btn{
    margin-top: 50px;
    padding: 12px 14px;
    border: 2px solid white;
    font-size: 2.5rem;
    color: white;
    background-color: transparent;
}
#home #btn:hover{
    background-color: tomato;
    color: white;
}
/* End Home section */


/* special section */
.special{
    margin: 10px 0;
}
.special img{
    height: 80px;
}
/* end special section */


/* service section */
.service{
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: center;
}
.service-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
}
.service-item{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(62, 163, 189);
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px rgb(62, 163, 189);
    position: relative;
    z-index: 1;
}
.service-item::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    width: 300px;
    height: 230px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1; 
    opacity: .5;
}
.service-item img{
    width: 200px;
    padding-bottom: 10px;
}
.service-item h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}
.service-item p{
    font-size: 2rem;
    padding: 10px;
    color: white;
}
/* end service section */


/* contact section */
.contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/contactbackground.jpg);
    background-position: center center;
    background-size: cover;
}
.contact_lower{
    position: relative;
}
.contact .section-title{
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}
.contact {
    position: relative;
    z-index: 1;
    border-top-right-radius: 10px;
    width: 100%;
}
.contact_form{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 40px;
    margin-bottom: 30px;
}
.contact_lower::before{
    content: "";
    top: 0px;
    left: 0px;
    background-color: black;
    border-radius: 40px;
    box-shadow: -5px -5px white;
    position: absolute;
    height: 500px;
    width: 260px;
    z-index: -1;
    opacity: .7;
}
.contact_form label{
    font-size: 2rem;
    letter-spacing: .2rem;
}
.contact_form label,input,textarea{
    padding: 10px;
}
.contact_form button{
    margin-top: 15px;
    padding: 10px;
    border: none;
    padding-bottom: 10px;
}
.contact_form button:hover{
    background-color: tomato;
    color: white;
    outline: none;
}
/* End contact section */

/* footer section */
.footer{
    min-height: 100px;
    flex-direction: column;
    background-color: brown;
    background-size: cover;
    background-position: right top;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.footer::before{
    content: "";
    top: 0;
    left: 0;
    background-color: brown;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    z-index: -1;
    opacity: .8;
}
.footer h2{
    font-size: 2rem;
    padding-bottom: 10px;
    color: white;
}
.footer p{
    font-size: 1.5rem;
    color: white;
}
/* End footer section */


/* for small phones */
@media only screen and (max-width:333px){
    .section-title h1{
        font-size: 3rem;
    }
    html{
        font-size: 10px;
    }
    .largenavv{
        display: none;
    }
    /* home section */
    #home .home h2{
        padding-top: 20px;
        font-size: 3rem;
    }
    #home .home p{
        font-size: 1.5rem;
    }
    #home #btn{
        padding: 6px 8px;
        font-size: 1.5rem;  
    }
    /* end home section */
    /* service section */
    .service-items .service-item{
        margin-left: 10px;
        margin-right: 10px;
        width: 300px;
    }
    .service-items .service-item::after{
        width: 300px;
        height: 490px;
    }
    /* end service section */

    /* contact section */
    .contact_form{
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
    }
    .contact .section-title{
        margin-bottom: 0;
    }
    .contact_lower::before{
        width: 220px;
        padding-bottom: 10px;
    }
    /* end contact section */
}
/* end for small phones */
@media only screen and (min-width:333px) and (max-width: 1200px){
    .largenavv{
        display:none;
    }
}
/* media for tablet */
@media only screen and (min-width:760px) {
    #smallnavv{
        display:none;
    }
    /* home section */
    #home .home{
        align-items: flex-start;
        padding-left: 100px;
    }    
    #home .home h2{
        font-size: 9rem;
    }
    #home .home p{
        font-size: 3rem;
        padding-left: 80px;
    }
    #home .home #btn{
        margin-left: 220px;
    }
    /* end home section */
    #special img{
        height: 120px;
    }
    /* service section */
    .service-item{
        flex-direction: row;
    }
    .service-item{
        width: 600px;
        height: 280px;
    }
    .service-item::after{
        width: 210px;
        height: 260px;
    }
    .service-item h2{
        padding-left: 20px;
        font-size: 4rem;
    }
    .service-item p{
        padding-left: 20px;
        font-size: 2.5rem;
    }
    /* end service section */

    /* contact section */
    .contact_lower::before{
        width: 280px;
    }
    /* end contact section */
}
/* End Media for tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px){
    .service-items{
    flex-direction: row;
}
}
/* End Media Query For Desktop */
